dist/
.stack-work/
dist-newstyle/
cabal.project.local
*~
*.lock
/.tasty-rerun-log
.vscode
/.hlint-*
bench/example/*
# don't ignore the example file, we need it!
!bench/example/HLS
bench-results/
bench-temp/
.shake/
ghcide
ghcide-bench
ghcide-preprocessor
*.gcStats.log
tags
