dist-newstyle
.stack-work
hie.yaml
cabal.project.local
*~
*.lock

# shake build information
_build/

# stack 2.1 stack.yaml lock files
stack*.yaml.lock
shake.yaml.lock

.vscode
/test-logs/*.log

# stack 2.1 stack.yaml lock files
stack*.yaml.lock
shake.yaml.lock

# ignore hie.yaml's for testdata
test/**/*.yaml

# macOS folder metadata
.DS_Store
