# To remove a submodule you need to:
#
#     Delete the relevant section from the .gitmodules file.
#     Stage the .gitmodules changes git add .gitmodules
#     Delete the relevant section from .git/config.
#     Run git rm --cached path_to_submodule (no trailing slash).
#     Run rm -rf .git/modules/path_to_submodule
#     Commit git commit -m "Removed submodule <name>"
#     Delete the now untracked submodule files
#     rm -rf path_to_submodule
[submodule "ghcide"]
	path = ghcide
	# url = https://github.com/digital-asset/ghcide.git
	# url = https://github.com/alanz/ghcide.git
	# url = https://github.com/wz1000/ghcide.git
	# url = https://github.com/fendor/ghcide.git
	url = https://github.com/bubba/ghcide.git
