# Core
/ghcide @pepeiborra
/ghcide/session-loader @pepeiborra @fendor
/hls-graph @pepeiborra
/hls-plugin-api @berberman
/hls-test-utils
/hie-compat

# Plugins
/plugins/hls-alternate-number-format-plugin @drsooch
/plugins/hls-brittany-plugin @fendor
/plugins/hls-cabal-fmt-plugin @VeryMilkyJoe @fendor
/plugins/hls-call-hierarchy-plugin @July541
/plugins/hls-class-plugin @Ailrun
/plugins/hls-eval-plugin
/plugins/hls-explicit-imports-plugin @pepeiborra
/plugins/hls-floskell-plugin @Ailrun
/plugins/hls-fourmolu-plugin @georgefst
/plugins/hls-gadt-plugin @July541
/plugins/hls-haddock-comments-plugin @berberman @kokobd
/plugins/hls-hlint-plugin @eddiemundo
/plugins/hls-module-name-plugin
/plugins/hls-ormolu-plugin @georgefst
/plugins/hls-pragmas-plugin @berberman @Ailrun @eddiemundo
/plugins/hls-qualify-imported-names-plugin @eddiemundo
/plugins/hls-refine-imports-plugin
/plugins/hls-rename-plugin @OliverMadine
/plugins/hls-refactor-plugin @santiweight
/plugins/hls-retrie-plugin @pepeiborra
/plugins/hls-code-range-plugin @kokobd
/plugins/hls-splice-plugin @konn
/plugins/hls-stylish-haskell-plugin @Ailrun
/plugins/hls-tactics-plugin @isovector
/plugins/hls-stan-plugin @uhbif19
/plugins/hls-explicit-record-fields-plugin @ozkutuk

# Benchmarking
/shake-bench @pepeiborra

# Docs
/docs @michaelpj

# CI
/.circleci @Anton-Latukha
/.github @Anton-Latukha @Ailrun
/.gitlab @hasufell

# Build
*.nix @berberman @michaelpj @guibou
*.project
.gitpod.* @kokobd
