defaults: &defaults
  working_directory: ~/build
  docker:
    - image: alanz/haskell-hie-ci
  steps:
    - checkout
    - run:
        name: Write provided stack.yaml with predictable name
        command: cp ${STACK_FILE} stack-build.txt

    - run:
        name: Figure out resolver for better caching
        command: grep '^resolver:' stack-build.txt > resolver.txt

    - restore_cache:
        keys:
          - v4-stack-cache-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "resolver.txt" }}

    - run:
        name: Stack upgrade
        command: stack upgrade

    - run:
        name: Stack setup
        command: stack -j2 --stack-yaml=${STACK_FILE} setup

    - run:
        name: Build (we need the exe for tests)
        # need j1, else ghc-lib-parser triggers OOM
        command: stack -j1 --stack-yaml=${STACK_FILE} install --no-terminal
        no_output_timeout: 30m

    - run:
        name: Build Testsuite without running it
        command: stack -j1 --stack-yaml=${STACK_FILE} build --test --no-run-tests --no-terminal
        no_output_timeout: 30m

    - store_artifacts:
        path: ~/.local/bin
        destination: bin

    - save_cache:
        key: v4-stack-cache-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "resolver.txt" }}
        paths: &cache_paths
          - ~/.stack

version: 2
jobs:
  ghc-8.6.4:
    environment:
      - STACK_FILE: "stack-8.6.4.yaml"
    <<: *defaults

  ghc-8.6.5:
    environment:
      - STACK_FILE: "stack-8.6.5.yaml"
    <<: *defaults

  ghc-8.8.3:
    environment:
      - STACK_FILE: "stack-8.8.3.yaml"
    <<: *defaults

  ghc-8.8.4:
    environment:
      - STACK_FILE: "stack-8.8.4.yaml"
    <<: *defaults

  ghc-8.10.2:
    environment:
      - STACK_FILE: "stack-8.10.2.yaml"
    <<: *defaults

  ghc-8.10.3:
    environment:
      - STACK_FILE: "stack-8.10.3.yaml"
    <<: *defaults

  ghc-8.10.4:
    environment:
      - STACK_FILE: "stack-8.10.4.yaml"
    <<: *defaults

  ghc-8.10.5:
    environment:
      - STACK_FILE: "stack-8.10.5.yaml"
    <<: *defaults

  ghc-8.10.6:
    environment:
      - STACK_FILE: "stack-8.10.6.yaml"
    <<: *defaults

  ghc-9.0.1:
    environment:
      - STACK_FILE: "stack-9.0.1.yaml"
    <<: *defaults

  ghc-default:
    environment:
      - STACK_FILE: "stack.yaml"
    <<: *defaults


workflows:
  version: 2
  multiple-ghcs:
    jobs:
      - ghc-8.6.4
      - ghc-8.6.5
      - ghc-8.8.3
      - ghc-8.8.4
      - ghc-8.10.2
      - ghc-8.10.3
      - ghc-8.10.4
      - ghc-8.10.5
      - ghc-8.10.6
      - ghc-9.0.1
      - ghc-default
