name: Builds

on:
  release:
    types: [created]
jobs:

  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        ghc: ['8.10.1', '8.8.3', '8.6.5']
        os: [ubuntu-latest, macOS-latest, windows-latest]
        exclude:
          - os: windows-latest
            ghc: '8.8.3' # fails due to segfault

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-haskell@v1.1.1
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: '3.2'

    # - name: Cache Cabal
    #   uses: actions/cache@v1.2.0
    #   with:
    #     path: ~/.cabal
    #     key: ${{ runner.OS }}-${{ matrix.ghc }}-cabal-0
    
    - name: Shorten binary names
      shell: bash
      run: |
        sed -i.bak -e 's/haskell-language-server/hls/g' \
                   -e 's/haskell_language_server/hls/g' \
                   haskell-language-server.cabal
        sed -i.bak -e 's/Paths_haskell_language_server/Paths_hls/g' \
                   src/**/*.hs exe/*.hs
    
    - name: Set exe extension if on Windows
      if: matrix.os == 'windows-latest'
      shell: bash
      run: echo '::set-env name=EXE_EXT::.exe'
  
    - name: Build Server
      run: cabal build exe:hls -O2 --disable-documentation -fdist-binary
          
    - name: Find Server Binary
      id: find_server_binary
      shell: bash
      run: |
        HLS=$(find dist-newstyle \( -name 'hls' -o -name 'hls.exe' \) -type f)
        gzip --best $HLS
        echo ::set-output name=hls_binary::$HLS.gz

    - name: Upload Server Binary
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ steps.find_server_binary.outputs.hls_binary }}
        asset_name: haskell-language-server-${{ runner.OS }}-${{ matrix.ghc }}${{env.EXE_EXT}}.gz
        asset_content_type: application/gzip

    - name: Build Wrapper
      if: matrix.ghc == '8.10.1'
      run: cabal build exe:hls-wrapper -O2 --disable-documentation -fdist-binary

    - name: Find Wrapper Binary
      if: matrix.ghc == '8.10.1'
      id: find_wrapper_binary
      shell: bash
      run: |
        HLS_WRAPPER=$(find dist-newstyle \( -name 'hls-wrapper' -o -name 'hls-wrapper.exe' \) -type f)
        gzip --best $HLS_WRAPPER
        echo ::set-output name=hls_wrapper_binary::$HLS_WRAPPER.gz

    - name: Upload Wrapper
      if: matrix.ghc == '8.10.1'
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ steps.find_wrapper_binary.outputs.hls_wrapper_binary }}
        asset_name: haskell-language-server-wrapper-${{ runner.OS }}${{env.EXE_EXT}}.gz
        asset_content_type: application/gzip

