name: Testing

defaults:
  run:
    shell: bash

on:
  pull_request:
    branches:
      - '**'

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          cancel_others: true
          paths_ignore: '["**/docs/**", "**.md", "**/LICENSE", ".circleci/**", "install/**", "nix/**"]'

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        ghc: ["8.10.4", "8.10.3", "8.10.2", "8.8.4", "8.8.3", "8.8.2", "8.6.5", "8.6.4"]
        os: [ubuntu-latest, macOS-latest]
        include:
          # only test supported ghc major versions
          - os: ubuntu-latest
            ghc: '8.10.4'
            test: true
          - os: windows-latest
            ghc: '8.10.4'
            test: true
          - os: ubuntu-latest
            ghc: '8.8.4'
            test: true
          - os: ubuntu-latest
            ghc: '8.6.5'
            test: true
          - os: windows-latest
            ghc: '8.6.5'
            test: true
          # only build rest of supported ghc versions for windows
          - os: windows-latest
            ghc: '8.10.2.2'
          - os: windows-latest
            ghc: '8.10.3'
          # This build get stuck frequently
          # - os: windows-latest
          #   ghc: '8.6.4'

    steps:
      - if: ${{ needs.pre_job.outputs.should_skip == 'true' }}
        run: exit 0
      - if: ${{ needs.pre_job.outputs.should_skip == 'true' }}
        uses: actions/checkout@v2
        with:
          submodules: true
      - if: ${{ needs.pre_job.outputs.should_skip == 'true' }}
        uses: haskell/actions/setup@v1
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: "3.2"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' }}
        run: ./fmt.sh
        name: "HLint via ./fmt.sh"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.os == 'windows-latest'}}
        name: Set some window specific things
        run: |
          echo "CABAL_STORE_DIR=$SYSTEMDRIVE\\SR" >> $GITHUB_ENV
          echo "CABAL_PKGS_DIR=~\\AppData\\cabal\\packages" >> $GITHUB_ENV

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.os != 'windows-latest'}}
        name: Set some linux/macOS specific things
        run: |
          echo "CABAL_STORE_DIR=~/.cabal/store" >> $GITHUB_ENV
          echo "CABAL_PKGS_DIR=~/.cabal/packages" >> $GITHUB_ENV

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' }}
        name: Cache Cabal
        uses: actions/cache@v2
        env:
          cache-name: cache-cabal
        with:
          path: |
            ${{ env.CABAL_PKGS_DIR }}
            ${{ env.CABAL_STORE_DIR }}
          key: v2-${{ runner.os }}-${{ matrix.ghc }}-build-${{ hashFiles('cabal.project') }}
          restore-keys: |
            v2-${{ runner.os }}-${{ matrix.ghc }}-bench-${{ hashFiles('cabal.project') }}
            v2-${{ runner.os }}-${{ matrix.ghc }}-build-
            v2-${{ runner.os }}-${{ matrix.ghc }}

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' }}
        run: cabal update

      # Need this to work around filepath length limits in Windows
      - if: ${{ needs.pre_job.outputs.should_skip == 'true' }}
        name: Shorten binary names
        run: |
          sed -i.bak -e 's/haskell-language-server/hls/g' \
                     -e 's/haskell_language_server/hls/g' \
                     haskell-language-server.cabal
          sed -i.bak -e 's/Paths_haskell_language_server/Paths_hls/g' \
                     src/**/*.hs exe/*.hs

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' }}
        name: Build
        # Retry it three times to workaround compiler segfaults in windows
        run: cabal build || cabal build || cabal build

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' &&  matrix.test }}
        name: Test ghcide
        # run the tests without parallelism to avoid running out of memory
        run: cabal test ghcide --test-options="-j1 --rerun-update" || cabal test ghcide --test-options="-j1 --rerun" || LSP_TEST_LOG_COLOR=0 LSP_TEST_LOG_MESSAGES=true LSP_TEST_LOG_STDERR=true cabal test ghcide --test-options="-j1 --rerun"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.test }}
        name: Test func-test suite
        env:
          HLS_TEST_EXE: hls
          HLS_WRAPPER_TEST_EXE: hls-wrapper
        # run the tests without parallelism, otherwise tasty will attempt to run
        # all functional test cases simultaneously which causes way too many hls
        # instances to be spun up for the poor github actions runner to handle
        run: cabal test func-test --test-options="-j1 --rerun --rerun-update" || cabal test func-test --test-options="-j1 --rerun" || LSP_TEST_LOG_COLOR=0 LSP_TEST_LOG_MESSAGES=true LSP_TEST_LOG_STDERR=true cabal test func-test --test-options="-j1 --rerun"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.test }}
        name: Test wrapper-test suite
        env:
          HLS_TEST_EXE: hls
          HLS_WRAPPER_TEST_EXE: hls-wrapper
        # run the tests without parallelism, otherwise tasty will attempt to run
        # all functional test cases simultaneously which causes way too many hls
        # instances to be spun up for the poor github actions runner to handle
        run: cabal test wrapper-test --test-options="-j1" || cabal test wrapper-test --test-options="-j1" || cabal test wrapper-test --test-options="-j1"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.test }}
        name: Test hls-brittany-plugin
        run: cabal test hls-brittany-plugin || cabal test hls-brittany-plugin --test-options="-j1"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.test }}
        name: Test hls-class-plugin
        run: cabal test hls-class-plugin || cabal test hls-class-plugin --test-options="-j1"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.test }}
        name: Test hls-eval-plugin
        run: cabal test hls-eval-plugin --test-options="-j1 --rerun" || cabal test hls-eval-plugin --test-options="-j1 --rerun"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.test }}
        name: Test hls-haddock-comments-plugin
        run: cabal test hls-haddock-comments-plugin || cabal test hls-haddock-comments-plugin --test-options="-j1"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.test }}
        name: Test hls-splice-plugin
        run: cabal test hls-splice-plugin || cabal test hls-splice-plugin --test-options="-j1"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.test }}
        name: Test hls-stylish-haskell-plugin
        run: cabal test hls-stylish-haskell-plugin || cabal test hls-stylish-haskell-plugin --test-options="-j1"

      - if: ${{ needs.pre_job.outputs.should_skip == 'true' && matrix.test }}
        name: Test hls-tactics-plugin test suite
        run: LSP_TEST_LOG_COLOR=0 LSP_TEST_LOG_MESSAGES=true LSP_TEST_LOG_STDERR=true cabal test hls-tactics-plugin --test-options="-j1"
