name: Testing

defaults:
  run:
    shell: bash

on: [pull_request]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        ghc: ["8.10.3", "8.10.2", "8.10.1", "8.8.4", "8.8.3", "8.8.2", "8.6.5", "8.6.4"]
        os: [ubuntu-latest, macOS-latest]
        include:
          # one ghc-lib build
          # should be renabled: #784
          # - os: ubuntu-latest
          #   ghc: '8.10.1'
          #   ghc-lib: true
          # only test supported ghc major versions
          - os: macOS-latest
            ghc: '8.10.3'
            test: true
          - os: ubuntu-latest
            ghc: '8.10.3'
            test: true
          - os: windows-latest
            ghc: '8.10.3'
            test: true
          - os: macOS-latest
            ghc: '8.8.4'
            test: true
          - os: ubuntu-latest
            ghc: '8.8.4'
            test: true
          - os: macOS-latest
            ghc: '8.6.5'
            test: true
          - os: ubuntu-latest
            ghc: '8.6.5'
            test: true
          - os: windows-latest
            ghc: '8.6.5'
            test: true
          # only build rest of supported ghc versions for windows
          - os: windows-latest
            ghc: '8.10.2.2'
          - os: windows-latest
            ghc: '8.10.1'
          - os: windows-latest
            ghc: '8.6.4'

    steps:
      # Cancel queued workflows from earlier commits in this branch
      - uses: fkirc/skip-duplicate-actions@master

      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: haskell/actions/setup@v1
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: "3.2"

      - run: ./fmt.sh
        name: "HLint via ./fmt.sh"

      - name: Set some window specific things
        if: matrix.os == 'windows-latest'
        run: |
          echo "CABAL_STORE_DIR=$SYSTEMDRIVE\\SR" >> $GITHUB_ENV
          echo "CABAL_PKGS_DIR=~\\AppData\\cabal\\packages" >> $GITHUB_ENV

      - name: Set some linux/macOS specific things
        if: matrix.os != 'windows-latest'
        run: |
          echo "CABAL_STORE_DIR=~/.cabal/store" >> $GITHUB_ENV
          echo "CABAL_PKGS_DIR=~/.cabal/packages" >> $GITHUB_ENV

      - name: Cache Cabal
        uses: actions/cache@v2
        env:
          cache-name: cache-cabal
        with:
          path: |
            ${{ env.CABAL_PKGS_DIR }}
            ${{ env.CABAL_STORE_DIR }}
          key: ${{ runner.os }}-${{ matrix.ghc }}-build-${{ hashFiles('cabal.project') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-build-${{ hashFiles('cabal.project') }}
            ${{ runner.os }}-${{ matrix.ghc }}-build-
            ${{ runner.os }}-${{ matrix.ghc }}

      - run: cabal update

      # Need this to work around filepath length limits in Windows
      - name: Shorten binary names
        run: |
          sed -i.bak -e 's/haskell-language-server/hls/g' \
                     -e 's/haskell_language_server/hls/g' \
                     haskell-language-server.cabal
          sed -i.bak -e 's/Paths_haskell_language_server/Paths_hls/g' \
                     src/**/*.hs exe/*.hs

      - name: Build
        # Retry it three times to workaround compiler segfaults in windows
        run: cabal build || cabal build || cabal build

      - name: Test ghcide
        if: ${{ !matrix.ghc-lib && matrix.test }}
        # run the tests without parallelism to avoid running out of memory
        run: cabal test ghcide --test-options="-j1 --rerun-update" || cabal test ghcide --test-options="-j1 --rerun" || LSP_TEST_LOG_COLOR=0 LSP_TEST_LOG_MESSAGES=true LSP_TEST_LOG_STDERR=true cabal test ghcide --test-options="-j1 --rerun"

      - name: Test func-test suite
        if: ${{ !matrix.ghc-lib && matrix.test }}
        env:
          HLS_TEST_EXE: hls
          HLS_WRAPPER_TEST_EXE: hls-wrapper
        # run the tests without parallelism, otherwise tasty will attempt to run
        # all functional test cases simultaneously which causes way too many hls
        # instances to be spun up for the poor github actions runner to handle
        run: cabal test func-test --test-options="-j1 --rerun --rerun-update" || cabal test func-test --test-options="-j1 --rerun" || LSP_TEST_LOG_COLOR=0 LSP_TEST_LOG_MESSAGES=true LSP_TEST_LOG_STDERR=true cabal test func-test --test-options="-j1 --rerun"

      - name: Test wrapper-test suite
        if: ${{ !matrix.ghc-lib && matrix.test }}
        env:
          HLS_TEST_EXE: hls
          HLS_WRAPPER_TEST_EXE: hls-wrapper
        # run the tests without parallelism, otherwise tasty will attempt to run
        # all functional test cases simultaneously which causes way too many hls
        # instances to be spun up for the poor github actions runner to handle
        run: cabal test wrapper-test --test-options="-j1" || cabal test wrapper-test --test-options="-j1" || cabal test wrapper-test --test-options="-j1"
